<div class='container'>
  <div class="page-header">
    <h2>Kash YouTube Search
      <img style="float: right;" *ngIf="loading" src='assets/images/loading.gif' />
    </h2>
  </div>

  <div class="row">
    <div class="input-group input-group-lg col-sm-8 col-md-8">
      <app-search-box (loading)="loading = $event" (results)="updateResults($event)"></app-search-box>
    </div>
  </div>

  <div class="row" style="margin-top:20px">
    <p>{{message}}</p>
    <app-search-result *ngFor="let result of results" [result]="result"></app-search-result>
  </div>
</div>

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="container">
        <a routerLink="add" class="card" routerLinkActive="active">Add Comments</a>
    </li>
  </ul>
<!--</nav>-->

<div class="container">
  <br>
  <h2 style="text-align: center;">Comments</h2>
  <hr>  
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div>